/* css styles */
.navbar-dark, .quarto-title-banner {
  background-color: #006DAE;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Source+Sans+Pro&display=swap');
:root {
  --primary-color: #005f73; /* A dark teal */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}
